#main-div{
    width: 100%;
}

#name{
    font-family: Arial, Helvetica, sans-serif;
    font-size:47px;
}

#prof{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#principal-about{
    display: flex;
    margin:1rem auto;
    width: 50%;
    align-items: center;
}
#profile-photo{
    width: 25rem;
    height: 25rem;
    
}
#about{
    width: 100%;
    margin: auto;
    text-align: justify;
}

#contact{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#contact img{
    width: 2rem;
    height: 2rem;
}