#main-content{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
}

details{
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 5rem;
    
}
summary{
    text-align: center;
    padding-bottom: 1rem;
}
.subjects{
    font-weight: bolder;    
    width: fit-content;
    margin: auto;
}
.asigments{
    font-style: italic;
}
details a{
    width: fit-content;
    margin: auto;
}