#carrusel {
    margin-top: 3rem;
    background-color: hsl(223, 90%, 4%);
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    color: bisque;
  }
  .element-carrusel {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation: test 5s infinite;
  }
  
  
  
  .innerCarrusel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*animation-name: innerSlide;
    animation-duration: 15s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function:ease-out;
    overflow: hidden;
    */
  }
  
  #trending {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    width: 100px;
    position: relative;
    color: black;
    font-weight: bolder;
    list-style: none;
    background-color: bisque;
    /*animation-name: slideshow;
    animation-duration: 18s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease;
    overflow: hidden;*/
  }

  @keyframes slideshow {
    0% {
      background-color: blue;
      color: white;
    }
  
    10% {
      background-color: bisque;
      color: black;
    }
  
    20% {
      background-color: blueviolet;
      color: white;
    }
  
    30% {
      background-color: brown;
      color: white;
    }
  
    40% {
      background-color: burlywood;
      color: black;
      
    }
  
    50% {
      background-color: cadetblue
    }
  
    60% {
      background-color: chartreuse;
      color: black;
    }
  
    70% {
      background-color: chocolate;
      color: white;
    }
  
    80% {
      background-color: cornflowerblue;
      color: black;
    }
  
    90% {
      background-color: tomato;
      color: black;
    }
  
    100% {
      background-color: black;
      color: white;

    }
  }
  
  
  #test-skill{
    animation-name: test;
    animation-duration: 2000;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    /*animation-direction: normal;
    animation-timing-function: ease-out;
    */
  }

  #test-btn{
    transition: font-size 2s ease-out 2s,color 2s ease-in 1s;
  }
  #test-btn:hover{
    color: whitesmoke;
  }

  #skills-list{
    margin-top: 1rem;
  }
  #skills-list ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .list-title{
    text-align: center;
  }
  @keyframes innerSlide{
    from{
      right: -100%;
      opacity: 1;
      font-size: 15px;
    }
    to{
      right:100%;
    }
  }
  
  .skill-imagen {
    width: 40%;
    height: 40%;
    background-color: transparent;
  
  }
  .skill-name {
    font-size: 20px;
    color: yellow;
    text-align: center;
  
  }


  @media only screen and (max-width:351px){
    #carrusel{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}